{{#if msg_sucesso}}
<div class="alert alert-success alert-dismissible">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  {{msg_sucesso}}
</div>
{{/if}}

{{#if msg_erro}}
  <div class="alert alert-warning alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h4><i class="icon fa fa-warning"></i> Alerta!</h4>
    {{msg_erro}}
  </div>
{{/if}}
