<ul class="sidebar-menu" data-widget="tree">
  <li class="header">MENU</li>

  <li>
    <a href="/vendas/listVenda"><i class="fa fa-shopping-cart"></i> <span> Vendas </span> </a>
  </li>

  <li class="treeview">
    <a href="#">
      <i class="fa fa-briefcase"></i> <span>Cadastros</span>
      <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li><a href="/pessoas/listPessoa"><i class="fa fa-user"></i> Pessoas </a></li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-archive"></i> <span> Produtos</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/produtos/listCategoria"><i class="fa fa-circle-o text-blue"></i> Categorias </a></li>
          <li><a href="/produtos/listFabricante"><i class="fa fa-circle-o text-blue"></i> Fabricantes </a></li>
          <li><a href="/produtos/listModelo"><i class="fa fa-circle-o text-blue"></i> Modelos </a></li>
          <li><a href="/produtos/listProduto"><i class="fa fa-circle-o text-blue"></i> Produtos </a></li>
        </ul>
      </li>
    </ul>
  </li>

  <li class="treeview">
    <a href="#">
      <i class="fa fa-bar-chart"></i> <span> Financeiro </span>
      <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li><a href="#"><i class="fa  fa-line-chart"></i> Contas a Receber </a></li>
    </ul>
  </li>

  <li class="treeview">
    <a href="#">
      <i class="fa fa-cog"></i> <span>Configuraçoes</span>
      <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li><a href="/usuarios/listUsuario"><i class="fa fa-users"></i> Usuários </a></li>
    </ul>
  </li>
</ul>
