<ul class="sidebar-menu" data-widget="tree">
    <li>
        <a href="/vendas/list-vendas"><ion-icon src="/icons/ios-cart.svg"></ion-icon> <span> Vendas </span> </a>
    </li>

    <li>
        <a href="#"><i class="fa fa-cart-arrow-down"></i> <span> Compras </span> </a>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-briefcase"></i> <span>Cadastros</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/pessoas/list-pessoas"><ion-icon src="/icons/ios-people.svg"></ion-icon> Pessoas </a></li>
            <li><a href="/produtos/list-fabricantes"><i class="fa fa-circle-o text-blue"></i> Fabricantes </a></li>
            <li><a href="/produtos/list-modelos"><i class="fa fa-circle-o text-blue"></i> Modelos </a></li>
            <li><a href="/produtos/list-produtos"><i class="fa fa-circle-o text-blue"></i> Produtos </a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-bar-chart"></i> <span> Financeiro </span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/contas-receber/index"><ion-icon src="/icons/ios-trending-up.svg"></ion-icon> Contas a Receber </a></li>
            <li><a href="/contas-pagar/index"><ion-icon src="/icons/ios-trending-down.svg"></ion-icon> Contas a Pagar </a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-file-text"></i> <span> Relatorios </span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/relatorios/lucro-por-produto"><i class="fa fa-dollar"></i> Lucratividade por Produto </a></li>
            <li><a href="/relatorios/estoque-de-seguranca"><i class="fa fa-archive"></i> Estoque de Seguranca </a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-cog"></i> <span>Configuraçoes</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/usuarios/index"><ion-icon src="/icons/ios-people.svg"></ion-icon> Usuários </a></li>
            <li><a href="/empresa/index"><ion-icon src="/icons/ios-business.svg"></ion-icon> Dados da Empresa </a></li>
        </ul>
    </li>
</ul>
