<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>SigInnove</title>
  <!-- style -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="/AdminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/AdminLTE/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/AdminLTE/bower_components/Ionicons/css/ionicons.min.css">
  <!-- jvectormap -->
  <link rel="stylesheet" href="/AdminLTE/bower_components/jvectormap/jquery-jvectormap.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/AdminLTE/dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
    folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/AdminLTE/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="/AdminLTE/plugins/pace/pace.min.css">
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  </head>

  <body style="background: #d2d6de;" class="hold-transition skin-red fixed sidebar-mini">

    {{#if user}}

    <div class="wrapper">
      <header class="main-header">
        {{>_navbar}}
      </header>

      <aside class="main-sidebar">
        <section class="sidebar">
          {{>_sidebar}}
        </section>
      </aside>
      {{else}}
      {{/if}}
      <div style="background: #d2d6de;" class="content-wrapper">
        <section class="content">
          {{>_msg}}
          {{{body}}}
        </section>
      </div>
    </div>



    <!-- jQuery 3 -->
    <script src="/AdminLTE/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="/AdminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- PACE -->
    <script src="/AdminLTE/bower_components/PACE/pace.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/AdminLTE/dist/js/adminlte.min.js"></script>
    <!-- SlimScroll -->
    <script src="/AdminLTE/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- DataTables -->
    <script src="/AdminLTE/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/AdminLTE/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- InputMask -->
    <script src="/AdminLTE/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="/AdminLTE/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="/AdminLTE/plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/AdminLTE/dist/js/demo.js"></script>
    <!-- JQuery Mask -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <!-- Valida CPF e CNPJ -->
    <script src="/js/valida_cpf_cnpj.js"></script>

    <!-- pesquisa cep -->
    <script src="/js/busca_cep.js"></script>
    <script src="/js/java_script.js"></script>

    <script type="text/javascript">
    $(document).ajaxStart(function () {
      Pace.restart()
    })
    $(function () {
      $('.tbl').DataTable()
    });

    $(function () {
      $('[data-mask]').inputmask()
    });

    Date.prototype.DataAtual = (function() {
      var local = new Date(this);
      local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
      return local.toJSON().slice(0,10);
    });
    </script>
  </body>
  </html>
