<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>SigInnove</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="/icons/favicon.ico">
	<!-- style -->
	<link rel="stylesheet" href="/css/style.css">
	<!-- DataTables -->
	<link rel="stylesheet" href="/AdminLTE/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
	<!-- Bootstrap 3.3.7 -->
	<link rel="stylesheet" href="/AdminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="/AdminLTE/bower_components/font-awesome/css/font-awesome.min.css">
	<!-- Theme style -->
	<link rel="stylesheet" href="/AdminLTE/dist/css/AdminLTE.min.css">
	<link rel="stylesheet" href="/AdminLTE/dist/css/skins/_all-skins.min.css">
	<!-- Google Font -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body style="background: #DCDCDC;" class="hold-transition skin-blue-light fixed sidebar-collapse sidebar-mini">

	{{#if user}}

	<div class="wrapper">
		<header class="main-header">
			{{>_navbar}}
		</header>

		<aside class="main-sidebar">
			<section class="sidebar">
				{{>_sidebar}}
			</section>
		</aside>
		{{else}}
		{{/if}}
		<div style="background: #DCDCDC;" class="content-wrapper">
			<section class="content">
				{{>_msg}}
				{{{body}}}
			</section>
		</div>
	</div>

	<!-- jQuery 3 -->
	<script src="/AdminLTE/bower_components/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap 3.3.7 -->
	<script src="/AdminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- AdminLTE App -->
	<script src="/AdminLTE/dist/js/adminlte.min.js"></script>
	<!-- DataTables -->
	<script src="/AdminLTE/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="/AdminLTE/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
	<!-- JQuery Mask -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
	<!-- SweetAlert2 -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
	<!-- Ionicons -->
	<script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
	<script src="/AdminLTE/plugins/jquery-knob/jquery.knob.min.js"></script>
	<!-- Valida CPF e CNPJ -->
	<script src="/js/valida_cpf_cnpj.js"></script>
	<!-- ChartJS -->
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
	<!-- pesquisa cep -->
	<script src="/js/busca_cep.js"></script>
	<script type="text/javascript" src="/js/java_script.js"></script>
	<script type="text/javascript">
	$('.knob').knob();

	$(function () {
		$('.tbl').DataTable()
	});

	Date.prototype.DataAtual = (function() {
		var local = new Date(this);
		local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
		return local.toJSON().slice(0,10);
	});

	var meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
	var recebimentos = [];
	var pagamentos = [];
	recebimentos.length = 11;
	pagamentos.length = 11;
	var saldo = [];
	var mesTeste = [];
	var s = -1;

	$('.totalMesRecebimento').each(function(){
		var posicao = (parseInt($(this).data('mes')) - 1)
		recebimentos.splice(posicao, 0, (parseFloat($(this).val())));
	});

	$('.totalMesPagamento').each(function(){
		var posicao = (parseInt($(this).data('mes')) - 1)
		pagamentos.splice(posicao, 0, -(parseFloat($(this).val())));
	});

	for (var i = 0; i < 12; i++) {
		if(pagamentos[i] == undefined){
			pagamentos[i] = 0;
		}
		if(recebimentos[i] == undefined){
			recebimentos[i] = 0;
		}
	}

	for(var i = 0; i < meses.length; i++){
		var sld = (recebimentos[i] + pagamentos[i]);
		if(i > 0){
			sld += saldo[s];
		}
		saldo.push(sld)
		s++;
	}

	var ctx = document.getElementById('myChart').getContext('2d');
	var chart = new Chart(ctx, {
		// The type of chart we want to create
		type: 'bar',

		// The data for our dataset
		data: {
			labels: meses,
			datasets: [
				{
					label: 'Saldo',
					backgroundColor: 'rgb(30,144,255)',
					data: saldo,
					type: 'line',
					fill: false,
					borderColor: 'rgb(30,144,255)',
				},{
					label: 'recebimentos',
					backgroundColor: '#3E9C31',
					data: recebimentos,
				},{
					label: 'Pagamentos',
					backgroundColor: '#ED4800',
					data: pagamentos,
					type: 'bar'
				}]
			},

			// Configuration options go here
			options: {
				scales: {
					yAxes: [{
						stacked: true,
						ticks: {
							beginAtZero: true
						}
					}],
					xAxes: [{
						stacked: true
					}]
				}
			}
		});

		</script>
	</body>
	</html>
