{{#if error}}
{{error}}
{{/if}}
<div id="divLogin">
	<div class="divLoginBox error-page">
		<h2 class="headline text-yellow"> 404</h2>

		<div class="error-content">
			<h3><i class="fa fa-warning text-yellow"></i> Oops! Página não encontrada...</h3>

			<p>
				Não conseguimos encontrar a página que você estava procurando. Enquanto isso, você pode <a href="/index">retornar a pagina Inicial.</a>
			</p>
		</div>
	</div>
</div>
