<div class="box box-danger">
  <div class="box-header with-border">
    <h3 class="box-title">Acesso Rápido</h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="box-body">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <a href="/pessoas/listPessoa">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-user"></i></span>
            <div class="info-box-content">
              <span style="color:black;" class="info-box-number">Pessoas</span>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <a href="/produtos/listProduto">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-archive"></i></span>
            <div class="info-box-content">
              <span style="color:black;" class="info-box-number">Produtos</span>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <a href="#">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-line-chart"></i></span>
            <div class="info-box-content">
              <span style="color:black;" class="info-box-number">Contas a Receber</span>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <a href="/vendas/listVenda">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-shopping-cart"></i></span>
            <div class="info-box-content">
              <span style="color:black;" class="info-box-number">Vendas</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>





