#divLogin{
	text-align: center;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 10000;
	background: -webkit-gradient(linear, left top, left bottom, from(#367fa9), to(#C0C0C0));
	background: -moz-linear-gradient(top, #367fa9, #C0C0C0);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#367fa9', EndColorStr='#C0C0C0');
}
#divLogin .divLoginBox{
	color: white;
	padding: 10px;
	padding-bottom: 15px;
	background: rgba(255,255,255, 0.2);
	border-radius: 10px;

}
#divLogin .divLoginBox a{
	color: black;
}
#divLogin .divLoginBox a:hover{
	color: white;
}

#divLogin .divLoginBody{
	color: white;
	background: rgba(255,255,255, 0.0);
	border-radius: 10px;
}

.acao{
	float: right;
}
.info-box{
	border-style: solid;
	border-width: 1px;
	border-color: #d2d6de;
}
.obrigatorio{
	color: red;
}

#logo {
	 position: absolute;
	 top: 0
}

#btnLogo {
	 display: block;
	 height: 100%;
	 width: 100%;
}

#navTabsEmpresa{
	margin-top: 2%;
}

.knob-span-pag{
	color: #ED4800;
}
.knob-span-rec{
	color: #3E9C31;
}

.box {
	border-style: solid;
	border-color: #DCDCDC;
	border-width:1px;
}
